<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css ">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="Imag\Estante.png" height=75px width=130px alt="icono libreria">
            <ul class="menuSup">
                <li><a href="#">Registro</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
        <div class="centro">
            <h1 id="login">Login</h1>
            <div class="formulario">
                <form action="#">
                    <label for="correr">Correo electrónico</label>
                    <input type="text" name="correo">
                    <label for="pasw">Contraseña</label>
                    <input type="password">
                </form>
            </div>
        </div>
    </div>  
<footer>
        <p>Contacto: 0263-252896</p>
</footer>  
</body>
</html>