<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css ">
    <title>Registrate</title>
</head>
<body>
    <div class="container">  
        <div class="header">
            <img src="Imag\Estante.png" height=75px width=130px alt="icono libreria">
            <ul class="menuSup">
                
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
        <div class="centro">
            <div class="formularioCarga bg-dark mb-3 opacity-75">
            <h2 id="registrate">Registrate</h2>
            <form action="/registrar" method="POST" enctype="multipart/form-data">
                <label for="name">Nombre</label>
                <input class="bg-dark mb-3 opacity-75" type="text" name="name" required>
                <label for="apellido">Apellido</label>
                <input class="bg-dark mb-3 opacity-75" type="text" name="apellido" required>
                <label for="foto">Cargá tu foto...</label>
                <input class="bg-dark mb-3 opacity-75" type="file" name="foto">
                <label for="correo">Correo electrónico</label>
                <input class="bg-dark mb-3 opacity-75" type="text" name="correo" required>
                <label for="clave">Contraseña</label>
                <input class="bg-dark mb-3 opacity-75" type="password" name="clave" required>
                <label for="confirmarClave">Confirmar contraseña</label>
                <input class="bg-dark mb-3 opacity-75" type="password" name="confirmarClave" required>
            </form>
            </div>
        </div>
        <footer>
            <p>Contacto: 0263-252896</p>
        </footer>
    </div>      
</body>
</html>