<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styleU.css">
    <title>Registrate</title>
</head>
<body>
    <div class="container">  
        <div class="header">
            <img src="Imag\Estante.png" height=75px width=130px alt="icono libreria">
            <ul class="menuSup">
                <li th:if="${session.usuariosession == null}"><a href="#">Registro</a></li>
                <li th:if="${session.usuariosession == null}"><a href="#">Login</a></li>
                <li th:if="${session.usuariosession != null}"><a href="#">Perfil</a></li>
                <li th:if="${session.usuariosession != null}"><a href="/logout">Salir</a></li>
            </ul>
        </div>
        <div class="centro">
            <div class="left">
              <ul class="menuLat">
                <li><a href="#">Libros</a></li>
                <li><a href="#">Autores</a></li>
                <li><a href="#">Editoriales</a></li>
                <li th:if="${session.usuariosession != null}"><a href="#">Préstamos</a></li>
            </ul>
            </div>
            <div class="right">
                <div id="bienvenida" th:if="@{/inicio}">
                    <h1> Bienvenid@!</h1>
                    <div id="contenedorImag" th:if="${session.usuariosession.foto !=null}">
                    <img class="shadow rounded-circle" th:src="@{|/foto/usuario/${session.usuariosession.id}|}" id="fotoPerfil">
                    </div>
                    <h2 th:if="${session.usuariosession != null}" th:text="${session.usuariosession.nombre + ' ' + session.usuariosession.apellido}"></h2>
                    <br>
                </div>
            </div>
        </div>
        <footer>
            <p>Contacto: 0263-252896</p>
        </footer>
    </div>      
</body>
</html>